.menu-btn {
  position: absolute;
  padding-top: 2rem;
  padding-left: 10%;
  font-size: 32px;
}
@media (max-width: 500px) {
  .menu-btn {
    font-size: 28px;
    padding-top: 2rem;
    padding-left: 7.5%;
  }
}
/* @media(min-width: 768px){
  .menu-btn {
    display: none;
  }
} */
.menu-btn:hover {
  cursor: pointer;
}

.menu-content {
  min-width: 150px;
  width: 25%;
  height: 100%;
  position: absolute;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 2.5;
  background-color: var(--color-light-gray);
  box-shadow: 4px 0 20px rgba(0, 0, 0, 0.3);
  z-index: 10;
  padding: 2rem;
}
@media (max-width: 500px) {
  .menu-content {
    width: 60%;
  }
}

nav {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: var(--color-blue);
}
a:hover {
  transform: translateY(-2px);
  color: #8db1cf;
}

/* --- OVERLAY --- */
.overlay {
  position: fixed;
  inset: 0; /* top:0; right:0; bottom:0; left:0; */
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
